.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}

.enter {
  opacity: 0;
  transform: scale(0.9);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
  transition-delay: 0.6s;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.4s, transform 0.4s;
  transition-delay: 0.6s;
}

.window {
  flex: 1;
  font-size: 5rem;
  min-width: 300px;
  min-height: 200px;
  text-align: center;
  color: #fff;
  font-family: "Bourton W05 Drop Stripes A";
}
