aiodns==1.1.1
aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
autobahn==17.10.1
cchardet==2.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Django~=2.2
django-bootstrap3==8.2.1
django-environ==0.4.5
django-rest-auth==0.9.5
django-username-email==2.2.4
django-webpack-loader==0.6.0
djangorestframework==3.9.4
envparse==0.2.0
genericclient==1.3.0
genericclient-aiohttp==1.3.1
genericclient-base==1.3.0
gunicorn==19.8.1
idna==2.8
idna-ssl==1.1.0
multidict==4.5.2
pycares==3.0.0
pycparser==2.19
pyfailsafe==0.2.0
pytz==2019.2
requests==2.22.0
simpl-client==0.7.5
six==1.12.0
sqlparse==0.3.0
txaio==18.8.1
typing-extensions==3.7.4
urllib3==1.25.3
yarl==1.3.0
jslog4kube==1.0.6
