@import 'vendors';
@import 'settings';
@include foundation-global-styles;
@include foundation-typography;
@import 'generic';

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  transition: opacity .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  &:hover {
    opacity: .5
  }
}

*:focus {
  outline: none;
}

:global(#app) {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

:global(.simpl) {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
