@import 'vendors';
@import 'settings';
@include foundation-global-styles;
@include foundation-typography;
@import 'generic';

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  transition: opacity .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  &:hover {
    opacity: .5
  }
}

*:focus {
  outline: none;
}

:global(#app) {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
  padding-bottom: 40px;
  width: 40%;
  height: 100%;
  @include breakpoint(xlarge) {
    width: 30%;
  }
  z-index: 300;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.42);
}

.content {
  position: absolute;
  top: 0;
  bottom: 40px;
  right: 0;
  width: 60%;
  @include breakpoint(xlarge) {
    width: 70%;
  }
  z-index: 200;
}

.contentOverlay {
  position: absolute;
  top: 0;
  bottom: 40px;
  right: 0;
  width: 60%;
  @include breakpoint(xlarge) {
    width: 70%;
  }
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  @include breakpoint(xlarge) {
    width: 70%;
  }
  z-index: 1;
}

:global(.overlay) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: #ffffff;
}

:global(#nprogress .bar) {
  background-color: $red;
}

// FADE TRANSISTION
:global(.fade-enter) {
  opacity: 0;
  z-index: 1;
}

:global(.fade-enter-active) {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

:global(.fade-exit) {
  opacity: 1;
}

:global(.fade-exit-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// OVERLAY TRANSISTION
:global(.overlay-enter) {
  opacity: 0;
}

:global(.overlay-enter-active) {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

:global(.overlay-exit) {
  opacity: 1;
}

:global(.overlay-exit-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// MOVE IN TRANSISTION

:global(.slide-in-enter) {
  // opacity: 0;
  transform: translate3d(0, 100%, 0)
}

:global(.slide-in-enter-active) {
  // opacity: 1;
  transition: opacity 300ms ease-in, transform 300ms cubic-bezier(.645, .045, .355, 1);
  transform: translate3d(0, 0, 0)
}

:global(.slide-in-exit) {
  // opacity: 1;
  transform: translate3d(0, 0, 0)
}

:global(.slide-in-exit-active) {
  // opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms cubic-bezier(.645, .045, .355, 1);
  transform: translate3d(0, 100%, 0)
}






:global(.card-enter) {
  opacity: 0;
}
:global(.card-enter-active) {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
:global(.card-exit) {
  opacity: 1;
}
:global(.card-exit-active) {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
