@import '../../../scss/vendors/foundation';

.container {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  flex: 1;
  padding: 2rem 4rem;
  min-width: 300px;
  min-height: 200px;
  max-width: 800px;
  text-align: center;
  color: #fff;
  background-color: #004785;
  box-shadow: 0 0 45px rgba(0,0,0, 0.5);
  z-index: 9999;
  h1, h3 {
    font-family:"Bourton W05 Drop Stripes A";
  }
  li {
    list-style: none;
  }
}
