{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<html>
  <head>
    <style>
    table, th, td { border: 1px solid black;  }
    </style>
  </head>
  <body>
    <div id="App"></div>
    <script type="text/javascript">
      var AUTOBAHN_DEBUG = false;
      var MODEL_SERVICE = '{{ MODELSERVICE_WS }}';
      var ROOT_TOPIC = '{{ ROOT_TOPIC }}';
      var AUTHID = '{{ user.simpl_id }}';
      var LEADER = {% if LEADER %}true{% else %}false{% endif %};
      var RUNS = [{{ RUNS|join:","}}];
      var WORLDS = [{{ WORLDS|join:","}}];
      var RUNUSERS = [{{ RUNUSERS|join:","}}];
      var LOAD_DATE = new Date();
      console.log("AUTHID: ", AUTHID);
      console.log("LEADER: ", LEADER);
      console.log("WORLDS: ", WORLDS);
      console.log("RUNS: ", RUNS);
      console.log("RUNUSERS: ", RUNUSERS);
    </script>
    {% render_bundle 'common' %}
    {% render_bundle 'main' %}
  </body>
</html>
