.container {
  display: flex;
  flex-direction: row;
  z-index: 28;
  padding: 0 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.meta {
  position: absolute;
  top: 20px;
  left: 120px;
  display: flex;
  flex-direction: row;
}
