@import '../../../scss/vendors/foundation';

$logo-width: 220px;
$logo-height: 149px;

.container {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex: 0 auto;
  padding: 3rem 4rem 4rem 4rem;
  background-color: #004785;
  z-index: 4;
  box-shadow: 0px 11px 54px 0px rgba(0,0,0,0.83);
  label {
    color: #fff;
  }
  .input-error {
    color: #fff;
  }
}

.fields {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.submitButton {
  margin-top: rem-calc(16px);
}

.header {
  h1 {
    font-family:"Bourton W05 Drop Stripes A";
    line-height: 44px;
    color: white;
  }
  span {
    font-family:"Bourton W05 Drop Stripes A";
  }
}