
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=f00fb7b6-bcfc-49b4-bde1-98e10ef311c4");
@font-face{
  font-family:"Bourton W05 Drop Stripes A";
  src:url("../assets/fonts/deb26906-a25d-432a-83a8-f38c6dee5846.eot?#iefix");
  src:url("../assets/fonts/deb26906-a25d-432a-83a8-f38c6dee5846.eot?#iefix") format("eot"),
      url("../assets/fonts/534112dd-e475-4b13-85d5-364a5125bbcb.woff2") format("woff2"),
      url("../assets/fonts/d4b1ec5d-4575-4e7a-8cf4-2acc3b51ada1.woff") format("woff"),
      url("../assets/fonts/e8fa5676-23d9-46d7-aa2d-46b64bf60cb3.ttf") format("truetype");
}
@font-face{
  font-family:"Bourton W05 Drop Stripes B";
  src:url("../assets/fonts/da2aa85e-5dfd-44d7-915c-324a91cc6f82.eot?#iefix");
  src:url("../assets/fonts/da2aa85e-5dfd-44d7-915c-324a91cc6f82.eot?#iefix") format("eot"),
      url("../assets/fonts/63e00cec-f25c-442c-84ec-611cce1dd1c2.woff2") format("woff2"),
      url("../assets/fonts/5a227365-9dae-4f8f-a1e7-7ee273750880.woff") format("woff"),
      url("../assets/fonts/3cd91c2e-5f50-4e3d-a7b3-e6738e131fc9.ttf") format("truetype");
}


@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Light.eot');
    src: url('../assets/fonts/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Light.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Light.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Light.svg#EuclidCircularA-Light') format('svg'),
        url('../assets/fonts/EuclidCircularA-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Medium.eot');
    src: url('../assets/fonts/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Medium.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Medium.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Medium.svg#EuclidCircularA-Medium') format('svg'),
        url('../assets/fonts/EuclidCircularA-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Regular.eot');
    src: url('../assets/fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Regular.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Regular.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Regular.svg#EuclidCircularA-Regular') format('svg'),
        url('../assets/fonts/EuclidCircularA-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Semibold.eot');
    src: url('../assets/fonts/EuclidCircularA-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Semibold.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Semibold.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Semibold.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Semibold.svg#EuclidCircularA-Semibold') format('svg'),
        url('../assets/fonts/EuclidCircularA-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Bold.eot');
    src: url('../assets/fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Bold.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Bold.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Bold.svg#EuclidCircularA-Bold') format('svg'),
        url('../assets/fonts/EuclidCircularA-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
