@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Light.eot');
    src: url('../assets/fonts/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Light.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Light.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Light.svg#EuclidCircularA-Light') format('svg'),
        url('../assets/fonts/EuclidCircularA-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Medium.eot');
    src: url('../assets/fonts/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Medium.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Medium.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Medium.svg#EuclidCircularA-Medium') format('svg'),
        url('../assets/fonts/EuclidCircularA-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Regular.eot');
    src: url('../assets/fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Regular.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Regular.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Regular.svg#EuclidCircularA-Regular') format('svg'),
        url('../assets/fonts/EuclidCircularA-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Semibold.eot');
    src: url('../assets/fonts/EuclidCircularA-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Semibold.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Semibold.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Semibold.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Semibold.svg#EuclidCircularA-Semibold') format('svg'),
        url('../assets/fonts/EuclidCircularA-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../assets/fonts/EuclidCircularA-Bold.eot');
    src: url('../assets/fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../assets/fonts/EuclidCircularA-Bold.woff') format('woff'),
        url('../assets/fonts/EuclidCircularA-Bold.ttf') format('truetype'),
        url('../assets/fonts/EuclidCircularA-Bold.svg#EuclidCircularA-Bold') format('svg'),
        url('../assets/fonts/EuclidCircularA-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
